<nav
  class="dock-bar"
  [attr.aria-label]="'dock.ariaLabel' | translate"
  (mouseleave)="clearHovered()">
  <ul class="dock-list" role="list">
    @for (item of dockItems(); track item.label; let i = $index) {
      <li
        class="dock-item"
        [style.transform]="itemTransforms()[i]">
        <a
          class="dock-item-link"
          [pTooltip]="item.label"
          tooltipPosition="top"
          [attr.aria-label]="item.label"
          [attr.href]="item.url"
          [attr.target]="item.target"
          [style.background]="item['data']?.['bg']"
          (mouseenter)="setHovered(i)"
          (click)="executeItem($event, item)">
          <img
            [alt]="item.label"
            [src]="item.icon"
            [style.width.px]="dockSize.size()"
            [style.height.px]="dockSize.size()"
            class="dock-icon" />
        </a>
      </li>
    }
  </ul>
</nav>
