<p-dialog
  [(visible)]="dockState.displayWelcome"
  [modal]="true"
  [closable]="false"
  [resizable]="false"
  [draggable]="false"
  [style]="{ width: '440px' }"
  [breakpoints]="{ '640px': '95vw' }"
  styleClass="welcome-dialog"
>
  <ng-template pTemplate="header">
    <div class="welcome-header">
      <img src="logo.png" [alt]="'welcome.title' | translate" class="welcome-logo" />
      <div>
        <h2 class="welcome-title">{{ 'welcome.title' | translate }}</h2>
        <p class="welcome-subtitle">{{ 'welcome.subtitle' | translate }}</p>
      </div>
    </div>
  </ng-template>

  <div class="welcome-body">
    <p class="welcome-intro">{{ 'welcome.intro' | translate }}</p>

    <ul class="welcome-tips">
      @for (tip of tips; track tip.key) {
        <li class="welcome-tip">
          <span class="tip-icon">{{ tip.icon }}</span>
          <span class="tip-text">{{ tip.key | translate }}</span>
        </li>
      }
    </ul>

    @if (isMobile) {
      <div class="welcome-mobile-notice">
        <span class="welcome-mobile-icon">🖥️</span>
        <p class="welcome-mobile-text">{{ 'welcome.mobile.notice' | translate }}</p>
      </div>
    }

    <p class="welcome-hint">{{ 'welcome.hint' | translate }}</p>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      [label]="'welcome.cta' | translate"
      (onClick)="dismiss()"
      styleClass="welcome-cta-btn"
    />
  </ng-template>
</p-dialog>
