:host ::ng-deep {
  .main-screen-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .main-screen-container p-menubar {
    width: 100%;
  }
}

.wallpaper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}