<div
  class="desktop-icon"
  [class.selected]="selected()"
  [class.doc-pdf]="docType() === 'pdf'"
  [class.doc-txt]="docType() === 'txt'"
  (click)="onClick()"
  (blur)="onBlur()"
  (keydown)="onKeyDown($event)"
  tabindex="0"
  role="button"
  [attr.aria-label]="label()"
>
  <div class="doc-icon">
    <svg viewBox="0 0 40 50" xmlns="http://www.w3.org/2000/svg" class="doc-svg" aria-hidden="true">
      <path d="M4 0 L28 0 L40 12 L40 50 L4 50 Z" class="doc-body" />
      <path d="M28 0 L28 12 L40 12 Z" class="doc-fold" />
      <line x1="10" y1="22" x2="30" y2="22" class="doc-line" />
      <line x1="10" y1="28" x2="30" y2="28" class="doc-line" />
      <line x1="10" y1="34" x2="22" y2="34" class="doc-line" />
    </svg>
    <span class="doc-type-badge">{{ docType().toUpperCase() }}</span>
  </div>
  <span class="doc-label">{{ label() }}</span>
</div>
